<h1>Extraction des articles</h1>

<div class="d-flex">
  <%= link_to 'Extraire', extract_articles_path, class: 'btn btn-primary', data: { turbo: false }, disabled: @articles.any? %>
  <%= button_to 'Traiter', process_articles_articles_path, class: 'btn btn-warning', method: :post, data: { turbo: false }, disabled: @articles.empty? %>
</div>

<div class="articles-list">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <div class="card article-card mb-3 h-100 d-flex flex-column">
        <div class="card-body d-flex flex-column">
          <!-- Affichage de la catégorie et de la pertinence -->
          <div class="d-flex justify-content-between">
            <p class="card-text">Catégorie : <%= article.category %></p>
            <p class="card-text">Pertinence : <%= article.pertinence %></p>
          </div>
          <!-- Titre de l'article -->
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text flex-grow-1"><%= article.description %></p>
          <!-- Lien pour voir l'article -->
          <a href="<%= article.url %>" target="_blank" class="btn btn-link">Voir l'article</a>
          <div class="d-flex p-2 mt-auto">
            <%= button_to 'Ajouter', add_to_newsletter_article_path(article), method: :patch, class: 'btn btn-success me-2' %>
            <%= button_to 'Supprimer', article_path(article), method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucun article disponible pour l'instant.</p>
  <% end %>
</div>
